@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
@import url(https://fonts.googleapis.com/css?family=Squada+One);
body {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    background-image: linear-gradient(to bottom right, #E8F1F5,#E8F1F5);
    text-align: center;
    color: #005691;
    font-family: sans-serif;
}
table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
#tabPierwiastkow{
    -webkit-box-shadow: 14px 18px 19px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 14px 18px 19px -13px rgba(0,0,0,0.75);
    box-shadow: 14px 18px 19px -13px rgba(0,0,0,0.75);
}
tr:first-child{
    background-color: #005691;
    color: #E8F1F5;
}
table, th, td{
    border: 1px solid gray;
    padding: 15px;
    text-align: center;
}
#logo{
    font-family: 'Open Sans', sans-serif;
    color: #004A7C;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 65px;
    font-weight: 800;
    letter-spacing: -3px;
    line-height: 1;
    text-shadow: #EDEDED 1px 2px 0;
    position: relative;
}
#logo:after {
    content:"Kalkulator";
    position: absolute;
    left: 6px;
    top: 10px;
}
#logo:after {
    background: url(https://subtlepatterns.com/patterns/crossed_stripes.png) repeat;
    background-image: -webkit-linear-gradient(left top, transparent 0%, transparent 25%, #555 25%, #555 50%, transparent 50%, transparent 75%, #555 75%);
    background-size: 4px 4px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -5;
    display: block;
    text-shadow: none;
}
#logo2 {
    margin-top:-5px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    color: #003380;
    text-decoration: none;
    font-weight: 500;
}
#footer {
    height: 50px;
    text-align: center;
    padding: 5px;
}
#policz, #pokaz, #clear {
    background-color: #005691;
    border: 1px solid;
    border-radius: 5px;
    padding: 20px;
    color: #E8F1F5;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 20px;
}
#policz:hover, #pokaz:hover, #clear:hover{
    background-color: #008CBA;
}
#policz, #pokaz {
    margin-right: 20px;
}
#macGlowna{
    display:none;
    font-size: 30px;
    font-weight: bold;
    color: #E8F1F5;
    background-color: #005691;
    padding: 15px 0;
    -webkit-box-shadow: 14px 18px 19px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 14px 18px 19px -13px rgba(0,0,0,0.75);
    box-shadow: 14px 18px 19px -13px rgba(0,0,0,0.75);
}
#tabelaMacierzy{
    display: none;
    border: none;
    width: 22.6rem;
    height: 11.3rem;
}

#wynik {
    display: block;
    text-align:center;
    padding: 20px;
    color: #005691;
}
#tekstWynik{
    display:none;
    background-color: #004A7C;
    color: #E8F1F5;
    text-align:center;
    font-size: 30px;
    font-weight: bold;
    padding: 15px 0;
    -webkit-box-shadow: 14px 18px 19px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 14px 18px 19px -13px rgba(0,0,0,0.75);
    box-shadow: 14px 18px 19px -13px rgba(0,0,0,0.75);
}

#x, #y, #z{
    font-size: 25px;
    text-align: center;
    color: #005691;
}
#namiarFinal {
    font-size: 30px;
    text-align: center;
    color: #005691;
    font-weight: bold;
}